
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
	<title>WordCloud</title>
	<meta name = "viewport" content = "width=device-width,height = device-height,maximum-scale=1.0,minimum-device=1.0">
    <link href = '../../static/css/show.css' rel = 'stylesheet' type = 'text/css'>
	<script type="text/javascript" src = "../../static/js/jquery-3.2.1.min.js"></script>
	<script type="text/javascript" src = "../../static/js/echarts.min.js"></script>
	<script type="text/javascript" src = "../../static/js/effect.js"></script>
	<script type="text/javascript" src = "../../static/js/common.js"></script>
    <script type="text/javascript" src = "../../static/js/ajaxdata.js"></script>
</head>
<body>
    <div id = 'main-wrapper'>
		<header>
			<div class = 'head'>
				<div class = "logo"><a href="index.html"></a> </div>
				<div class = "nav-bar">
                    <ul>
                        <li id = "home" class = "nav-btn"><a href="index.html">Home</a></li>
                        <li id = "more" class = "nav-btn"><a href = "index.html">More</a></li>
                        <li id = "about-us" class = "nav-btn"><a href="index.html">About Us</a></li>
                    </ul>
                </div>
                <div id = "github-connect"></div>
			</div>
		</header>

		<section>
			<div class = "center">
				<div id = 'word-cloud'>
                    <img src = "..\static\show1.png" id = "img-box">
				</div>
				<div id = 'chart-1' class = 'chart' ></div>
				<div id = 'chart-2' class = 'chart' ></div>
				<div id = 'chart-3' class = 'chart' ></div>
			</div>
		</section>

		<footer>
			<div class = "foot">
			</div>
		</footer>
	</div>

</body>
</html>
</body>
</html>